* {
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    margin: 0;
}

body {
    background-color: rgba(233, 233, 232, 0.576);
    font-size: 15px;
    text-align: center;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
}

.guide {
    border: 1px solid magenta;
}

#main {
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
    padding: 7%;
    position: relative;
    margin-bottom: 20px;
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    'topbar ratings'
    'card card';

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.1fr;
}

#main .bg-top {
    position:absolute;
    left: 0;
    transform: translateX(-15%);
}

#main .bg-bottom {
    position:absolute;
    bottom: 0;
    right: 0;
}

.left-container {
    text-align: left;
    padding: 2rem 4rem 2rem 2rem;
    grid-area: topbar;
    min-width: 480px;
}

.left-container h1 {
    color: hsl(300, 43%, 22%);
    font-size: 3rem;
    line-height: 1em;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.left-container p {
    color:hsl(303, 10%, 53%);
    font-weight: 500;
    line-height: 1.6rem;
    margin-right: 2rem;
}

.ratings {
    grid-area: ratings;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    min-width: 480px;
}

.ratings h2 {
    background-color: hsl(300, 24%, 96%);
    border-radius: 0.4rem;
    color: hsl(300, 43%, 22%);
    font-size: 0.8rem;
    font-weight: 700;
    padding: 1.2rem 1.8rem;
    text-align: left;
    margin: .5rem 0;
    width: 85%;
}


.ratings h2:first-child {
    align-self: flex-start;
}

.ratings h2:last-child {
    align-self: flex-end;
}

.ratings span {
    display: inline;
    margin-left: 1.5rem;
}

.ratings img {
    margin-right: 2px; 
}

.card-container {
    grid-area: card;
    grid-column: span 2 / auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    column-gap: 1em;
    justify-content: space-between;
    padding: 15px 2rem;
}

.card {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 2rem;
    text-align: left;
    font-size: .8rem;
}

.card .profile-header {
    display: grid;
    grid-template-columns: 25% 1fr;
    align-items: center;
    justify-items: self-start;
    margin-bottom: 25px;
}

.card img {
    border-radius: 50%;
    grid-row: span 2 / auto;
    margin-right: 100px;
    width: 50px;
}

.card h3 {
    color: hsl(0, 0%, 100%) ;
}

.card span {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}

.card p {
    color: white;
    line-height: 1.4rem;
}

.card-left {
    align-self: flex-start;
}

.card-middle {
    align-self: center;
}

.card-right {
    align-self: flex-end;
}
